
.ipynb_checkpoints/Data Verwerken-checkpoint.ipynb
.ipynb_checkpoints/Dataset Samenstellen-checkpoint.ipynb
.ipynb_checkpoints/Draaiboek-checkpoint.ipynb
.ipynb_checkpoints/Image Processing-checkpoint.ipynb
.ipynb_checkpoints/Model Trainen-checkpoint.ipynb
code/.ipynb_checkpoints/Image Processing-checkpoint.ipynb
code/.ipynb_checkpoints/Webscraper-checkpoint.ipynb
informatie/.ipynb_checkpoints/Data Verwerken-checkpoint.ipynb
informatie/.ipynb_checkpoints/Model Trainen-checkpoint.ipynb
