
.ipynb_checkpoints/Data Verwerken-checkpoint.ipynb
.ipynb_checkpoints/Dataset Samenstellen-checkpoint.ipynb
.ipynb_checkpoints/Draaiboek-checkpoint.ipynb
.ipynb_checkpoints/Image Processing-checkpoint.ipynb
.ipynb_checkpoints/Model Trainen-checkpoint.ipynb
code/.ipynb_checkpoints/Image Processing-checkpoint.ipynb
code/.ipynb_checkpoints/Webscraper-checkpoint.ipynb
informatie/.ipynb_checkpoints/Data Verwerken-checkpoint.ipynb
informatie/.ipynb_checkpoints/Model Trainen-checkpoint.ipynb
informatie/.ipynb_checkpoints/dataset samenstellen-checkpoint.ipynb
.ipynb_checkpoints/Draaiboek-Copy1-checkpoint.ipynb
code/__pycache__/transformer.cpython-39.pyc
code/.ipynb_checkpoints/ResNet50_model_gebruiken-checkpoint.ipynb
code/.ipynb_checkpoints/ResNet50_model_trainen-checkpoint.ipynb
code/.ipynb_checkpoints/ResNet50_model_trainen-Copy1-checkpoint.ipynb
